<html layout:decorate="~{layout}">

<div class="container" layout:fragment="content">
	<div class="row">
		<div class="col">
			<br />
			<div class="card">
				<div class="card-header">
					<h4>
						[[${question.subject}]]
					</h4>
					<span class="mb-0">
						글쓴이 : [[${question.author?.username}]]
					</span>
					<div class="float-right">
						<a 	class="btn rounded-fill" 
							th:classappend="${question.voter.contains(siteUser)} ? 'btn-success' : 'btn-outline-success'"
							sec:authorize="isAuthenticated()"
							th:href="@{|/question/vote/${question.id}|}"
							>
							추천<span class="">[[${#lists.size(question.voter)}]]</span>
						</a>
						<a  class="btn btn-outline-info"
							th:href="@{|/question/modify/${question.id}|}"
							sec:authorize="isAuthenticated()"
							th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}">
							수정
						</a>
						<a  class="btn btn-outline-danger delete"
							href="javascript:void(0);"
							th:data-uri="@{|/question/delete/${question.id}|}"
							sec:authorize="isAuthenticated()"
							th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}">
							삭제
						</a>
					</div>
					
				</div>
				<div class="card-body">
					<h5 class="card-title">
						[[${question.content}]]
					</h5>
					<div class="float-right">
						[[${#temporals.format(question.createDate, 'yyyy년 MM월 dd일 HH시 mm분')}]]
					</div>
				</div>
			</div>
		</div>
	</div>
	<h4 class="border-top mt-5">
		[[${#lists.size(question.answerList)}]]개의 답변이 있습니다.
	</h4>
	<div class="card my-3" th:each="answer : ${question.answerList}">
		<a th:id="|answer_${answer.id}|"></a>
		<div class="card-body">
			[[${answer.content}]]
			<div>
				<div class="float-right">
					<span class="mx-1">
						[[${answer.author?.username}]]
					</span>
					<small class="mx-1"> 
						[[${#temporals.format(answer.createDate, '작성: yyyy-MM-dd H:mm')}]]
					</small>
					<small class="mx-1" th:if="answer.modifyDate != null"> 
						[[${#temporals.format(answer.modifyDate, '수정: yyyy-MM-dd HH:mm')}]]
					</small>
					<a 	class="btn rounded-fill" 
						th:classappend="${answer.voter.contains(siteUser)} ? 'btn-success' : 'btn-outline-success'"
						sec:authorize="isAuthenticated()"
						th:href="@{|/answer/vote/${answer.id}|}"
						>
						추천<span class="">[[${#lists.size(answer.voter)}]]</span>
					</a>
					<a  
						class="btn btn-outline-info"
						th:href="@{|/answer/modify/${answer.id}|}"
						sec:authorize="isAuthenticated()"
						th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}">
						수정
					</a>
					<a  
						class="btn btn-outline-danger delete"
						href="javascript:void(0);"
						th:data-uri="@{|/answer/delete/${answer.id}|}"
						sec:authorize="isAuthenticated()"
						th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}">
						삭제
					</a>
				</div>
			</div>
		</div>
	</div>
	<form method="post" th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}">
		<div th:replace="~{form_errors::formErrorsFragment}"></div>
		<textarea th:field="*{content}" cols="30" rows="10" sec:authorize="isAnonymous()" disabled placeholder="로그인 후 답글 작성 가능"></textarea>
		<textarea th:field="*{content}" cols="30" rows="10" sec:authorize="isAuthenticated()"></textarea>
		<input type="submit" value="답변 등록" class="btn btn-warning my-3" />
	</form>
</div>

<script layout:fragment="script">
	const delete_elements = document.getElementsByClassName("delete");
	console.log(delete_elements);
	Array.from(delete_elements).forEach(function (element) {
		element.addEventListener("click", function() {
			if (confirm("정말로 삭제하시겠씁니까?")) {
				location.href = this.dataset.uri;
			}
		});
	});
</script>
</html>